<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="recipeForm" (submit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="recipeForm.invalid">Save</button>
                    <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" formControlName="name"
                               class="form-control" id="name" name="name">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="imagePath">Image Path</label>
                        <input type="text" formControlName="imagePath"
                               class="form-control" id="imagePath" name="imagePath" #imagePath>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <img src="{{ imagePath.value }}" class="img-responsive" alt="Image preview">
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description"
                                  formControlName="description"
                                  name="description" rows="6"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12" formArrayName="ingredients">
                    <div class="row">
                        <div class="col-xs-12">
                            <h4 class="text-nowrap">Ingredients
                                <button type="button" class="btn btn-default"
                                        (click)="onAddIngredient()">
                                    <i class="glyphicon glyphicon-plus-sign"></i> Add ingredient
                                </button>
                            </h4>
                        </div>
                    </div>
                    <div class="row"
                         *ngFor="let ingredientControl of getControls(); let i = index"
                         [formGroupName]="i">
                        <div class="col-xs-8 form-group">
                            <input type="text" class="form-control" formControlName="name">
                        </div>
                        <div class="col-xs-2 form-group">
                            <input type="number" class="form-control" formControlName="amount">
                        </div>
                        <div class="col-xs-2 form-group">
                            <button type="button" class="btn btn-block btn-danger"><i
                                    class="glyphicon glyphicon-remove" (click)="onDeleteIngredient(i)"></i></button>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>